.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#filter {
	display: flex;
	height: 50px;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.9);
	color: gold;
	flex-shrink: 0;
}

#filter button {
	width:120px;
	height:30px;
	background-color: gold;
	margin: 0 7px;
	cursor: pointer;
	outline: none;
}

#filter input {
	width:100px;
	height:30px;
	margin: 0 3px;
	text-align: center;
}

#filter p {
	margin-right: 10px;
}

.block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: 400ms;
	width: 300px;
	padding: 15px;
	margin: 7px 10px;
	border-radius: 15px;
	background-color: rgba(128, 128, 128, 0.9);
}

.block:hover {
	transition: 400ms;
	background-color: rgba(128, 128, 128, 1);
}

.block p {
	color: white;
	padding: 3px 0px;
	text-align: center;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
}

.buttons button {
	padding: 5px 15px;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	border-radius: 15px;
	margin-bottom: 8px;
	box-shadow: 0 3px #999;
	color: #FFFFFF;
	outline: none;
}

.buttons button:hover {
	transition: 200ms;
}

.buttons button:active {
	transform: translateY(3px);
	box-shadow: 0 0px #999;
	transition: 0ms;
}

.detail {
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	padding: 5px 15px;
	max-width: 120px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.detail span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.detail span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.detail:hover span {
	padding-right: 25px;
}

.detail:hover span:after {
	opacity: 1;
	right: 0;
}

.buy {
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	padding: 5px 15px;
	max-width: 120px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.buy {
	background-color: #04AA6D;
}

.buy:hover {
	background-color: #3e8e41
}

.buy:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}